

.message-panel {
  display: flex;
  padding: 0;
  flex-direction: column;
  background-color: #f4f4f4;
  height: calc(100vh - 120px);
}

.list-panel{
  padding: 0;
  height: calc(100vh - 120px);
}

.message-box{
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100% - 143.6px);
  padding: 10px;
  background-color: #c5c4c4;
}

.message {
  display: flex;
}

.message-status {
  display: none;
  position: absolute;
  margin: 0 auto;
  padding: 10px;
  max-width: 240px;
  text-align: center;
  opacity: 80;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  bottom: 0px;
  left: 0;
  right: 0;
  transition: bottom ease-in-out 0.3s;
  -webkit-transition: bottom ease-in-out 0.3s; /* Safari */
}


.message-container {
  display: flex;
  margin: 10px 0;
}

.message > div {
  display: flex;
  flex-direction: column;
}

.message > div > div.msg-container {
  padding: 5px;
  border-radius: 5px;
  min-width: 150px;
}

.message > img {
  margin: 0 4px;
}

.message-input {
  align-self: flex-end;
  width: 100%;
  padding: 10px 0;
  background-color: #f4f4f4;
  z-index: 10;
}

.msg-container {
  padding: 0 10px;
  width: 100%;
  max-width: 320px;
}

.msg-container p {
  white-space: pre-wrap; /* CSS3 */
  word-wrap: break-word;
}

.chat-sect{
  flex-direction: column;
}

.no-chat{
  display: none;
}

.active {
  background-color: #C7C7C7;
  color: #000;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
}

.sender {
  background-color: #484848;
  color: #fff;
}

.receiver {
  background-color: #DFDFDF;
  color: #000;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: nowrap;
}

.nav-item {
  width: 100%;
  padding: 0 5px;
}

.nav-item:hover {
  background-color: #333;
  color: #000;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
}

.nav-item div p {
  color: #fff;
}

.nav-item:hover div p {
  color: #fff;
}

.nav-item:hover div p.text-dark {
  color: #fff;
}

.nav-item p.name {
  color: #000;
}

.message-input > input {
  margin-right: 2px;
}

.img-round {
  border-radius: 50%;
}

#backBtn {
  display: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: grey;
}

#isTyping{
  display: none;
}

@media (max-width: 574px) {

  .container {
      overflow-x: hidden;
  }

  .row {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }

  .list-panel {
      background-color: #212020;
      height: calc(100vh - 70px);
      flex-shrink: 0;
      -webkit-transition: transform 0.5s ease-in-out; /* Safari */
      transition: transform 0.5s ease-in-out;
      transform: translateX(0);
  }

  .message-panel {
      display: flex;
      flex-shrink: 0;
      height: calc(100vh - 70px);
      padding: 0 10px;
      -webkit-transition: transform 0.5s ease-in-out; /* Safari */
      transition: transform 0.5s ease-in-out;
      transform: translateX(0);
      overflow-x: hidden;
  }

  .msg-container {
      padding: 0 10px;
      width: 100%;
      max-width: 220px;
  }

  .message-status{
      bottom: -35px;
  }

  .container-fluid {
      padding: 0;
  }

  .chat-sect h3{
      white-space: nowrap;
      font-size: 120%;
  }

  #backBtn {
      display: block;
  }
}